---
import IconLogo from '../assets/img/header/logo.svg'
---
<footer class="space-y-10 pt-20 lg:grid lg:grid-cols-4 lg:gap-8 w-full lg:space-y-0 bg-cyan-900 text-white mt-10 lg:w-screen">
  <div class="ml-5 flex">
    <IconLogo/><h2 class="ml-2">Cinémagny</h2>
  </div>
    <nav class="px-5 gap-8 space-y-8 text-sm lg:text-base lg:columns-3 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3">
      <div>
        <h4 class="uppercase">MENU</h4>
        <ul class="text-gray-400">
          <li><a href="/request">À l'affiche</a></li>
          <li><a href="/pricing">Programmation</a></li>
          <li><a href="/reviews">Nos Engagements</a></li>
          <li><a href="/stories">À propos</a></li>
        </ul>
      </div>

      <div>
        <h4 class="uppercase">CONTACT</h4>
        <ul class="text-gray-400">
          <li><a href="/buy">Château de la Rosemontoise</a></li>
          <li><a href="/finance">3 Rue de la Planche</a></li>
          <li><a href="/finance">90 200</a></li>
        </ul>
      </div>
  
      <div>
        <h4 class="uppercase">NOUS SUIVRE</h4>
        <ul class="flex gap-6 ">
          <li>
            <a class="fab fa-facebook" href="https://facebook.com" aria-label="Facebook"></a>
          </li>
          <li>
            <a class= "fab fa-instagram" href="https://instagram.com" aria-label="Instagram"></a>
          </li>
          <li>
            <a class= "fab fa-twitter" href="https://twitter.com" aria-label="Twitter"></a>
          </li>
          <li>
            <a class= "fab fa-linkedin" href="https://linkedin.com" aria-label="Linkedin"></a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div 
      class="px-5 text-gray-400 border-t border-gray-300 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0"
    >
      <p>©2025 Cinémagny, All Rights Reserved</p>
    </div>
  </footer>