---
import Button from '../components/Button.astro';
const currentPath = Astro.url.pathname;
import IconLogo from '../assets/img/header/logo.svg'
---
<header class="flex absolute bg-transparent items-center justify-between px-4 gap-8 h-20 w-full">
  <a href="/">
    <IconLogo class="absolute z-10 top-7 lg:top-5 lg:w-15"/>
  </a>
  <button
    id="menu-btn"
    class="group absolute right-5 z-12 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-white *:transition *:duration-300"
    aria-label="Menu"
    aria-controls="menu"
    aria-expanded="false"
  >
    <span class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"></span>
    <span class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"></span>
  </button>
  <nav
    id="menu"
    class="flex-1 px-6 py-12 flex justify-between flex-col fixed z-11 inset-0 bg-cyan-800 visible opacity-100 max-lg:aria-hidden:invisible max-lg:aria-hidden:opacity-0 lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:visible lg:opacity-100"
aria-hidden="true"
  >
    <ul class="flex mt-5 flex-col gap-4 lg:flex-row lg:mt-0 ">
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/film' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`} 
        href="/film">À l'affiche</a>
      </li>
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/programmation' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`}
        href="/programmation">Programmation</a>
      </li>
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/engagement' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`}
        href="/engagement">Nos engagements</a>
      </li>
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/propos' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`}
        href="/propos">À propos</a>
      </li>
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/invite' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`} 
        href="/invite">Nos invités</a>
      </li>
      <li>
        <a class={`block p-4 rounded-lg text-white ${currentPath === '/billetterie' ? 'text-indigo-600 font-bold max-lg:bg-sky-950 max-lg:rounded-lg' : ''}`} 
        href="/billetterie">Billetterie</a>
      </li>
    </ul>
    <div class="flex items-center justify-center gap-4 p-4 lg:absolute lg:right-0">
      <Button variant="outlined" url="/login" text="Login" />
      <Button variant="dark" url="/signup" text="Sign Up" />
    </div>
  </nav>
</header>

<script>
  // On cible les éléments à modifier
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const page = document.body;

  // Vérifier si les éléments existent avant d'ajouter l'événement
  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      const isOpen = toggle.ariaExpanded === "true";
      const isClosed = !isOpen;
      // Mise à jour des attributs ARIA pour accessibilité
      toggle.ariaExpanded = String(isClosed);
      nav.ariaHidden = String(isOpen);
      page.classList.toggle("noscroll", isClosed);
    });
  }
</script>