<section class="relative w-full h-70 lg:h-200 flex items-center justify-center text-white">
    <!-- Image de fond avec overlay -->
    <div class="absolute inset-0 bg-cover bg-center opacity-80" style="background-image: url('/src/img/index.webp');"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent"></div>

    <!-- Contenu -->
    <div class="relative px-6 text-center">
        <h1 class="text-3xl md:text-5xl font-bold">Bienvenue à <br> Cinémagny</h1>
    </div>
</section>
